<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Class Implementation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit Implementation</h1>
	<div>
		<form th:object="${implementation}" th:action="@{/save/implementation}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<select id="classlist" th:field="*{danceClass}" class="form-control">
       			<option th:each="danceclass: ${danceClasses}" th:value="${danceclass.id}" th:text="${danceclass.name}"></option>
    		</select>
			<select id="teacherlist" th:field="*{teacher}" class="form-control">
       				<option th:each="teacher: ${teachers}" th:value="${teacher.id}" th:text="${teacher.firstname}"></option>
    		</select>
			<input type="text" th:field="*{date}" />
			<input type="text" th:field="*{time}" />	
			
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>